@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
// @import "./modules/bootstrap/bootstrap.scss";

html {
  font-family: $main-font;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  transition: all ease-out 0.15s;
  line-height: 1.5;
  position: relative;
  &._lock {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  transition: all ease-out 0.15s;
  &:hover {
    opacity: 0.7;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: $content;
  padding: 0 100px;
  width: 100%;
}

//Модули
@import 'modules/modules';

.wrapper {
  padding-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-weight: 400;
}

.logo {
  background-image: url('../images/common/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

$red: red;

.box2 {
  box-sizing: border-box;
  border: 1px solid $red;
  padding: 10px;
  font-weight: 900;
  h3 {
    font-size: 55px;
    border: 2px solid tomato;
    margin: 0;
    padding: 0;
  }
}
