@import "~normalize.css";
@import "./fonts.css";
body {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  padding-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}