extends layout/main

block variables
	-var title = 'Главная страница'
	-var titlePage = 'Сотрудники'
	-var pageClass = 'user-main employees-page'

block content
	main(class=pageClass)
		h2 Hello world
