// Colors
$white: #fff;
$black: #000;

// Sizes
$base-font-size: 16px;
$mobile-size: 767px;
$tablet-size: 1279px;
$large: 1024;
$desktop-size: 1280px;

$content: 1840px;

// Fonts
$main-font: 'Montserrat', sans-serif;
